.tab-container{
    width: 100%;
    background-color:white;
    height: 1000px;
}
.tab-container .tab-button{
    padding: 4px;
    width: 100%;
    border: solid transparent 1px ;
    background-color: transparent;

}

.tab-container .tab-button:hover{
    padding: 4px;
    width: 100%;
    color: black;
    
}
.left-form-container{

    width: 100%;
}
.selected-items{
    background-color: #D3D3D3;
    width: 100%;

    height: 400px;
    overflow-y: auto;
}
.black{
    color: black;
}
.dropdown-select{
    width: 90%;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.add-container{
    color: black;
}

.tab-button-container{
    width: 100%;
    background-color: #D3D3D3;
  
}
.tab-button-container-active {

    width: 100%;
    border: none;
    background-color: white;
}

.tab-container-active button{
    padding: 4px;
    width: 100%;
    border: none;
    background-color: white;
}





.div-f-tabs{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.tab-button-container{
    width: 100%;

}



.tab-data-container{

    height: 1000px;
    width: 100%;
    padding: 4px;
}